body {
    font-family: 'Oswald', serif;
    font-weight: normal;
    background-color: #E9EDF0;
}
h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
a {
    color: #63136C;
}
a:hover {
    color: #008EFF;
    text-decoration: none;
}
.btn-primary {
    background-color: #63136C;
    border-color: #25333A;
    color: #FFFFFF;
    font-weight: 100;
}
.btn-primary:hover {
    color: #FFFFFF;
    background-color: #4EACF6;
    border-color: #4EACF6;
}
.unsplash-header {
    background-color: #63136C;
    color: #FFFFFF;
    padding-top: .5em;
    padding-bottom: .5em;
}
.unsplash-header h1 small {
    font-size: .35em;
    font-family: 'Raleway', sans-serif;
}
.unsplash-header a {
    color: #ffffff;
    text-decoration: none;
}
.unsplash-header a:hover {
    color: #ffffff;
    text-decoration: none;
}
.unsplash-footer {
    background-color: #63136C;
    border-top: 5px solid #4EACF6;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-top: 1em;
    color: #ffffff;
}
.unsplash-footer a {
    color: #ffffff;
    font-size: 2em;
    margin-left: .25em;
}
.unsplash-footer a:hover {
    color: #4EACF6
}
.unsplash-home-page-intro {
    background-color: #4EACF6;
    color: #ffffff;
    padding: 1em 0;
    margin-bottom: 1em;
}
